@media only screen and (min-width: 320px) and (max-width:480px){
    header{
        width: 398px;
        height: 90px;
        background-color: rgb(54,54,54);
        color:white;
        padding: 0px 762px 0px 115px;
    }  
    #phone{
        background-color: rgb(54,54,54);
        color:white;
        width: 16px;
        height: 16px;
        padding: 14px;
        transform: scaleX(-1);
    }
    #envelope{
        width: 16px;
        height: 16px;
        padding: 14px;
    }
    .call-image1{
        margin-top:0px;        
        padding: 0px 0px 10px 0px;
        border:none;          
    }
    #facebook,#google,#twitter,#linkedin{
        width: 16px;
        height: 16px;
        margin: 1px -5px 0px 0px;
        padding: 14px 15px 11px 17px;                   
    }  
    .call-image2{      
        margin: 0px 96px 0px -159px;
        padding: 0px 0px 10px 619px;                
        color:white;      
        text-decoration: none;
        border:none;   
        display: inline-flex;     
    }
    }