@media only screen and (min-width: 320px) and (max-width:375px){
    header{
        width: 353px;
        height: 90px;
        background-color: rgb(54,54,54);
        color:white;
        padding: 0px 0px 0px 26px;
        font-size: 15px;
    }  
    #phone{
        background-color: rgb(54,54,54);
        color:white;
        width: 16px;
        height: 16px;
        padding: 14px;
        margin: 0px 0px 0px 0px;
        transform: scaleX(-1);
    }
    #envelope{
        width: 16px;
        height: 16px;
        padding: 14px;
        margin: 0px 0px 0px 0px;
    }
    .call-image1{
        margin-top:0px;        
        padding: 0px 0px 10px 0px;
        border:none;
        margin: 0px 0px 0px 0px;          
    }
    #facebook,#google,#twitter,#linkedin{
        width: 16px;
        height: 16px;
        margin: 1px -5px 0px 0px;
        padding: 14px 15px 11px 17px;
        border:none;                      
    }  
    .call-image2{      
        margin: 0px 96px 0px -529px;
        padding: 0px 0px 10px 619px;                
        color:white;      
        text-decoration: none;        
        display: inline-flex;             
    }
    
    nav{
        display:block;
        margin-left: 10px;
        background-color: rgb(237, 237, 237);     
    } 
    h2{
        float: left; 
        font-size: 16px;
    }
    .company-name{
        float: left;
        color:rgb(226, 69, 53);
        padding-right: 50px;
        margin: 18px 0px 13px 0px;        
    }
    .menu-list {
        display: none;
    }
    #link{           
        float: none;
        display: none;
        text-align: left;
    }
    .menu-list{
        float: right;
        display: block;
        list-style: none;
        margin: 10px 22px 0px 0px;
        padding: 0px 0px 0px 49px;
    }
    .icon {
        float: right;
        display: block;
        color:black;
        background:white;
        box-shadow: 1px 2px 1px rgb(237, 237, 237); 
        padding: 7px 9px 5px 10px;
    }      

    .menu-list.responsive {
        position: relative;
    }
    .menu-list.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu-list.responsive{
        float: none;
        display: block;
        text-align: left;
    }
    .cover-heading{
        font-size: 24px;
        color:white; 
        border-bottom: 2px solid rgb(226, 69, 53);
        font-weight: bold;
        margin: 388px 89px 0px 115px;
        padding: 0px 0px 5px 3px
    }    
    .cover-para{   
        display: none;    
    }
    .fieldset{ 
        border:none;        
        margin:-560px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        position:absolute; 
    }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .line3{
        display: none;
    }
    .line4{
        display: none;
    } 
    .read-button{
        display: none;    
    }
    .read-more{
        display: none;
    }
    #left-arrow{
        width: 31px;
        height: 39px;
        position: absolute;
        color: rgb(237, 237, 237);
        border: 1px solid rgb(237, 237, 237);
        margin: -175px 0px 0px 0px;
        border-radius: 50%;
        padding: 4px 0px 0px 12px;
        filter: brightness(70%);        
    }
    #right-arrow{
        width: 31px;
        height: 39px;
        position: absolute;
        color: rgb(237, 237, 237);
        border: 1px solid rgb(237, 237, 237);
        margin: -175px 0px 0px 315px;
        border-radius: 50%;
        padding: 4px 0px 0px 12px;
        background: none;
        filter: brightness(35%);
    }
    .cover-image{   
        filter: brightness(35%);
        position: relative;
        width: 375px;
        height: 181px;
        padding: 0px 0px 36px 0px;
        margin: 0px 0px 23px -7px;
        vertical-align: middle;                    
    }    
    .login{
        width: 351px;
        height: 349px;
        position: relative;        
        background-color: white;
        box-shadow: 0px 0px 40px rgb(168, 160, 160);
        margin: -18px 0px 13px 3px;
        line-height: 2;
        border:none;  
        z-index: 4;    
    }
    .heading1{
        padding: 19px 25px 14px 74px;
        margin: 0px 36px 20px -63px;
        font-size: 22px;        
        color:rgb(6, 6, 6);
    }
    .paragraph{
        color:rgb(145, 151, 163);
        padding: 0px 0px 14px 8px;
        margin: 61px 0px 20px 5px;
        font-size: 16px;
        line-height: 21.5px;
    }
    .readme-link{
        margin: 0px 0px 2px 12px;
        font-size: 16px;
        text-decoration: none;
        color:rgb(145, 151, 163);
    }
    .readme-link:hover{
        color:rgb(226, 69, 53);
    }    
    .block1{
        display:grid;       
        margin: 0px 0px 0px -10px;
        padding:0px 0px 0px 0px;
    }     
    .aboutus{   
        font-size: 20px;
        margin: 31px 8px 4px 0px;   
    }   
    .aboutus-block{
        margin: 32px -8px 31px -7px;
        background-color: rgb(245, 245, 245);
        padding: 1px 0px 3px 0px;
    } 
    .aboutus-para{
        font-size: 16px;
        color:rgb(145, 151, 163);
        padding: 51px 0px 0px 19px;
        text-align: center;
    }
    .block-para1{
        color:rgb(145, 151, 163);
        margin-top: -25px;
    }
    .about_img{
        width: 354px;
        height: 273px;
        margin: -646px 0px 31px 11px;
    }     
    .donate{   
        font-size: 17px;
        margin: 376px 12px 97px 11px;
    }
    .scholarship{   
        font-size: 17px;
        margin: -103px 12px 97px 11px;
    }
    #drop{
        position: absolute;
        background-color:rgb(245, 245, 245);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding:7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px; 
        z-index: 2;
    }
    .hr-line{
        position:relative;
        width:136px;
        margin:36px 0px 0px 113px;      
        border:1px solid rgb(226, 69, 53);
    }
    .ourcause{
        font-size: 20px;
        margin: 31px 8px 4px 0px;
    }  
    .cause-block{
        border: 1px solid rgb(229, 229, 229);
        float:left;
        width:361px;
        height:294px;
        text-align:left;
        margin: 79px 10px 10px -287px;
        padding: 2px 4px 334px 0px;
        
    }
    .main-cause{
        margin: -40px 10px 10px 283px;
        padding: 2px 79px 1939px 0px;
    }
    .aboutus-para1{
        font-size: 16px;
        color:rgb(145, 151, 163);
        padding: 51px 0px 0px 19px;
        text-align: center;
    }    
    #drop1{
        position: absolute;
        background-color:rgb(255, 255, 255);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding: 7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px;
        z-index: 2;
    }
    .hr-line1{
        position:relative;
        width:136px;
        margin: 14px 0px 0px 113px;     
        border:1px solid rgb(226, 69, 53);
    }

    .video-block{
        margin: 269px -8px 2px -7px;
        background-color: black;
        padding: 2px 2px 91px 2px;
    }
    .heart{
        font-size: 25px;
        font-weight: bolder;
    }
    .heart-para{
      font-size: 15px;
    }
    .video{  
        width: 369px;
        height: 202px; 
        filter: brightness(60%);
        margin: 33px 2px 52px 0px;    
    }
    .videoplay{   
        position:relative;
        width: 92px;
        height: 92px;
        margin: -197px 2px 2px 127px;
    }
    
    .block3-text{
        color:white;
        margin: 0px 11px 2px 12px;
        line-height: 1.5;
    }
    .ourgallery{
        font-size: 20px;
        margin: 31px 8px 4px 0px;
    }
    .gallery-image{
        float:left;
    }
    .middle1.middle2.middle3.middle4.middle5.middle6{
        display: none;
    }
    .image-icon{
        display: none;
    }
    .gallery1{
        width: 380px;
        height: 323px;
        margin: 0px 0px 0px -8px;
    }
    .gallery2{
        width: 380px;
        height: 323px;
        margin: 0px 0px 256px -8px;
    }
    .gallery3{
        width: 380px;
        height: 323px;
        margin: -256px -5px -1px -8px;
    }
    .gallery4{
        width: 380px;
        height: 642px;
        margin: 0px 0px 0px -8px;
    }
    .gallery5{
        width: 380px;
        height: 162px;
        margin: 0px 0px 0px -8px;
    }
    .gallery6{
        width: 380px;
        height: 162px;
        margin: 0px 0px 75px -8px;
    }
    #drop2{
        position: absolute;
        background-color:rgb(255, 255, 255);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding:7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px;
        z-index: 2;
    }
    .hr-line2{
        position:relative;
        width:136px;
        margin: 14px 0px 0px 113px;      
        border:1px solid rgb(226, 69, 53);
    }
    .ourvolunteer{
        font-size: 20px;
        margin: 31px 8px 4px 0px;
    }
    .volunteer{
        background-color: rgb(245,245,245);
        padding: 17px 0px 86px 0px;
        margin: 42px -11px 0px -7px;
    }
    .volunteer-block{      
        float:right;
        width: 343px;
        height: 327px;                   
        margin: 84px 4px 10px 7px;      
        background-color: white;      
    }
    .vol-icon{
        padding: 16px 0px 66px 108px;
    }
    .vol-image{
        width: 201px;
        height: 203px;
        margin: -78px 10px 10px 78px; 
    }
    .vol-name{   
        text-align: center;
        font-size: 16px;
    }    
    .hr-volunteer{
        margin: 26px 26px 10px 29px;
        border: 1px solid rgb(229, 229, 229);
    }
    #volunteer-2{
        display:none;
    }
    #facebook1,#google1,#twitter1,#linkedin1{
        padding: 13px 2px 0px 16px
    }
    #drop3{
        position: absolute;
        background-color:rgb(245, 245, 245);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding:7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px; 
        z-index: 2;
    }
    .hr-line3{
        position:relative;
        width:136px;
        margin: 38px 0px 0px 113px;      
        border:1px solid rgb(226, 69, 53);
    }
    .dot{
        cursor: pointer;
        height: 7px;
        width: 7px;
        margin: 0px 2px 2px 10px;
        border: 1px solid rgb(226, 69, 53);
        background-color: white;
        border-radius: 50%;
        display: inline-block;    
    }
    #dot1{
        visibility: visible;
    }
    .footer-block1{
        display:grid;
        background: rgb(47,47,47);
        margin: -20px -13px 0px -9px;
        color:white;
        padding: 69px 0px 112px 0px;
        font-size: 16px;        
    }
    .footer-list1{
        margin: 48px 32px 0px 0px;;
    }
    .footer-list2{
        margin: 0px 32px 0px 0px; 
    }
    .footer-list3{
        margin: 0px 32px 0px 0px
    }
    .footer-list4{
        margin: 0px 32px 0px 0px;          
    }
    .footer-sublist{
        border: 1px solid white;
        display : inline-flex;
        margin: 6px 0px 4px 5px;
        padding: 11px 19px 9px 11px;
    }
    .scrollup{
        margin: -20px 0px 0px 164px;
        position: absolute;
    }  
    .footer-block2{
        background:rgb(193, 62, 47); 
        margin: 0px -13px 0px -9px;
        padding: 43px 0px 0px 0px;
        height: 200px;
        display: block;
    }    
    .footer-email{
        margin: 27px 0px 0px 21px;
        padding: 7px 129px 11px 19px;
    }
    .footer-label{
        font-size:22px;
        color:white;
        margin: 14px 0px 0px 41px;
    }
    .subscribe{
        background-color: rgb(193, 62, 47);
        border: 1px solid white;
        color: white;
        padding: 10px 23px 9px 17px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 22px 0px 0px 91px;
    }
    .footer-copy{
        background:  rgb(13,13,13);
        color:white;
        padding: 5px;
        margin: 0px -13px 0px -8px;
        text-align: center;
    }
    }
@media only screen and (max-width:320px){
    header{
        width: 353px;
        height: 90px;
        background-color: rgb(54,54,54);
        color:white;
        padding: 0px 0px 0px 26px;
        font-size: 15px;
    }  
    #phone{
        background-color: rgb(54,54,54);
        color:white;
        width: 16px;
        height: 16px;
        padding: 14px;
        margin: 0px 0px 0px 0px;
        transform: scaleX(-1);
    }
    #envelope{
        width: 16px;
        height: 16px;
        padding: 14px;
        margin: 0px 0px 0px 0px;
    }
    .call-image1{
        margin-top:0px;        
        padding: 0px 0px 10px 0px;
        border:none;
        margin: 0px 0px 0px 0px;          
    }
    #facebook,#google,#twitter,#linkedin{
        width: 16px;
        height: 16px;
        margin: 1px -5px 0px 0px;
        padding: 14px 15px 11px 17px;
        border:none;                      
    }  
    .call-image2{      
        margin: 0px 96px 0px -529px;
        padding: 0px 0px 10px 619px;                
        color:white;      
        text-decoration: none;        
        display: inline-flex;             
    }
    
    nav{
        display:block;
        margin-left: 10px;
        background-color: rgb(237, 237, 237);     
    } 
    h2{
        float: left; 
        font-size: 16px;
    }
    .company-name{
        float: left;
        color:rgb(226, 69, 53);
        padding-right: 50px;
        margin: 18px 0px 13px 0px;        
    }
    .menu-list {
        display: none;
    }
    #link{           
        float: none;
        display: none;
        text-align: left;
    }
    .menu-list{
        float: right;
        display: block;
        list-style: none;
        margin: 10px 22px 0px 0px;
        padding: 0px 0px 0px 49px;
    }
    .icon {
        float: right;
        display: block;
        color:black;
        background:white;
        box-shadow: 1px 2px 1px rgb(237, 237, 237); 
        padding: 7px 9px 5px 10px;
    }      

    .menu-list.responsive {
        position: relative;
    }
    .menu-list.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu-list.responsive{
        float: none;
        display: block;
        text-align: left;
    }
    .cover-heading{
        font-size: 24px;
        color:white; 
        border-bottom: 2px solid rgb(226, 69, 53);
        font-weight: bold;
        margin: 388px 89px 0px 115px;
        padding: 0px 0px 5px 3px
    }    
    .cover-para{   
        display: none;    
    }
    .fieldset{ 
        border:none;        
        margin:-560px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        position:absolute; 
    }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .line3{
        display: none;
    }
    .line4{
        display: none;
    } 
    .read-button{
        display: none;    
    }
    .read-more{
        display: none;
    }
    #left-arrow{
        width: 31px;
        height: 39px;
        position: absolute;
        color: rgb(237, 237, 237);
        border: 1px solid rgb(237, 237, 237);
        margin: -175px 0px 0px 0px;
        border-radius: 50%;
        padding: 4px 0px 0px 12px;
        filter: brightness(70%);        
    }
    #right-arrow{
        width: 31px;
        height: 39px;
        position: absolute;
        color: rgb(237, 237, 237);
        border: 1px solid rgb(237, 237, 237);
        margin: -175px 0px 0px 315px;
        border-radius: 50%;
        padding: 4px 0px 0px 12px;
        background: none;
        filter: brightness(35%);
    }
    .cover-image{   
        filter: brightness(35%);
        position: relative;
        width: 375px;
        height: 181px;
        padding: 0px 0px 36px 0px;
        margin: 0px 0px 23px -7px;
        vertical-align: middle;                    
    }    
    .login{
        width: 351px;
        height: 349px;
        position: relative;        
        background-color: white;
        box-shadow: 0px 0px 40px rgb(168, 160, 160);
        margin: -18px 0px 13px 3px;
        line-height: 2;
        border:none;  
        z-index: 4;    
    }
    .heading1{
        padding: 19px 25px 14px 74px;
        margin: 0px 36px 20px -63px;
        font-size: 22px;        
        color:rgb(6, 6, 6);
    }
    .paragraph{
        color:rgb(145, 151, 163);
        padding: 0px 0px 14px 8px;
        margin: 61px 0px 20px 5px;
        font-size: 16px;
        line-height: 21.5px;
    }
    .readme-link{
        margin: 0px 0px 2px 12px;
        font-size: 16px;
        text-decoration: none;
        color:rgb(145, 151, 163);
    }
    .readme-link:hover{
        color:rgb(226, 69, 53);
    }    
    .block1{
        display:grid;       
        margin: 0px 0px 0px -10px;
        padding:0px 0px 0px 0px;
    }     
    .aboutus{   
        font-size: 20px;
        margin: 31px 8px 4px 0px;   
    }   
    .aboutus-block{
        margin: 32px -64px 31px -8px;
        background-color: rgb(245, 245, 245);
        padding: 1px 0px 3px 0px;
    } 
    .aboutus-para{
        font-size: 16px;
        color:rgb(145, 151, 163);
        padding: 51px 0px 0px 19px;
        text-align: center;
    }
    .block-para1{
        color:rgb(145, 151, 163);
        margin-top: -25px;
    }
    .about_img{
        width: 354px;
        height: 273px;
        margin: -646px 0px 31px 11px;
    }     
    .donate{   
        font-size: 17px;
        margin: 376px 12px 97px 11px;
    }
    .scholarship{   
        font-size: 17px;
        margin: -103px 12px 97px 11px;
    }
    #drop{
        position: absolute;
        background-color:rgb(245, 245, 245);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding:7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px; 
        z-index: 2;
    }
    .hr-line{
        position:relative;
        width:136px;
        margin:36px 0px 0px 113px;      
        border:1px solid rgb(226, 69, 53);
    }
    .ourcause{
        font-size: 20px;
        margin: 31px 8px 4px 0px;
    }  
    .cause-block{
        border: 1px solid rgb(229, 229, 229);
        float:left;
        width:361px;
        height:294px;
        text-align:left;
        margin: 79px 10px 10px -287px;
        padding: 2px 4px 334px 0px;
        
    }
    .main-cause{
        margin: -40px 10px 10px 283px;
        padding: 2px 79px 1939px 0px;
    }
    .aboutus-para1{
        font-size: 16px;
        color:rgb(145, 151, 163);
        padding: 51px 0px 0px 19px;
        text-align: center;
    }    
    #drop1{
        position: absolute;
        background-color:rgb(255, 255, 255);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding: 7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px;
        z-index: 2;
    }
    .hr-line1{
        position:relative;
        width:136px;
        margin: 14px 0px 0px 113px;     
        border:1px solid rgb(226, 69, 53);
    }

    .video-block{
        margin: 269px -64px 2px -7px;
        background-color: black;
        padding: 2px 2px 91px 2px;
    }
    .heart{
        font-size: 25px;
        font-weight: bolder;
    }
    .heart-para{
        font-size: 15px;
    }
    .video{  
        width: 369px;
        height: 202px; 
        filter: brightness(60%);
        margin: 33px 2px 52px 0px;    
    }
    .videoplay{   
        position:relative;
        width: 92px;
        height: 92px;
        margin: -197px 2px 2px 127px;
    }
    
    .block3-text{
        color:white;
        margin: 0px 11px 2px 12px;
        line-height: 1.5;
    }
    .ourgallery{
        font-size: 20px;
        margin: 31px -23px 4px 0px;
    }
    .gallery-image{
        float:left;
    }
    .middle1.middle2.middle3.middle4.middle5.middle6{
        display: none;
    }
    .image-icon{
        display: none;
    }
    .gallery1{
        width: 380px;
        height: 323px;
        margin: 0px 0px 0px -8px;
    }
    .gallery2{
        width: 380px;
        height: 323px;
        margin: 0px 0px 256px -8px;
    }
    .gallery3{
        width: 380px;
        height: 323px;
        margin: -256px -5px -1px -8px;
    }
    .gallery4{
        width: 380px;
        height: 642px;
        margin: 0px 0px 0px -8px;
    }
    .gallery5{
        width: 380px;
        height: 162px;
        margin: 0px 0px 0px -8px;
    }
    .gallery6{
        width: 380px;
        height: 162px;
        margin: 0px 0px 75px -8px;
    }
    #drop2{
        position: absolute;
        background-color:rgb(255, 255, 255);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding:7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px;
        z-index: 2;
    }
    .hr-line2{
        position:relative;
        width:136px;
        margin: 14px 0px 0px 113px;      
        border:1px solid rgb(226, 69, 53);
    }
    .ourvolunteer{
        font-size: 20px;
        margin: 31px 8px 4px 0px;
    }
    .volunteer{
        background-color: rgb(245,245,245);
        padding: 17px 0px 86px 0px;
        margin: 48px -63px 0px -7px;
    }
    .volunteer-block{      
        float:right;
        width: 343px;
        height: 327px;                   
        margin: 84px 4px 10px 7px;      
        background-color: white;      
    }
    .vol-icon{
        padding: 16px 0px 66px 108px;
    }
    .vol-image{
        width: 201px;
        height: 203px;
        margin: -78px 10px 10px 78px; 
    }
    .vol-name{   
        text-align: center;
        font-size: 16px;
    }    
    .hr-volunteer{
        margin: 26px 26px 10px 29px;
        border: 1px solid rgb(229, 229, 229);
    }
    #volunteer-2{
        display:none;
    }
    #facebook1,#google1,#twitter1,#linkedin1{
        padding: 13px 2px 0px 16px
    }
    #drop3{
        position: absolute;
        background-color:rgb(245, 245, 245);
        color:rgb(226, 69, 53);
        border-top:2px solid rgb(226, 69, 53);
        border-bottom: 2px solid rgb(226, 69, 53);            
        padding:7px 14px 7px 14px;
        text-align: center;
        margin: -6px 14px 7px 158px; 
        z-index: 2;
    }
    .hr-line3{
        position:relative;
        width:136px;
        margin: 38px 0px 0px 113px;      
        border:1px solid rgb(226, 69, 53);
    }
    .dot{
        cursor: pointer;
        height: 7px;
        width: 7px;
        margin: 0px 2px 2px 10px;
        border: 1px solid rgb(226, 69, 53);
        background-color: white;
        border-radius: 50%;
        display: inline-block;    
    }
    #dot1{
        visibility: visible;
    }
      
    .footer-block1{
        display:grid;
        background: rgb(47,47,47);
        margin: -20px -63px 0px -9px;
        color:white;
        padding: 69px 0px 112px 0px;
        font-size: 16px;        
    }
    .footer-list1{
        margin: 48px 32px 0px 0px;;
    }
    .footer-list2{
        margin: 0px 32px 0px 0px; 
    }
    .footer-list3{
        margin: 0px 32px 0px 0px
    }
    .footer-list4{
        margin: 0px 32px 0px 0px;          
    }
    .footer-sublist{
        border: 1px solid white;
        display : inline-flex;
        margin: 6px 0px 4px 5px;
        padding: 11px 19px 9px 11px;
    }
    .scrollup{
        margin: -20px 0px 0px 164px;
        position: absolute;
    }  
    .footer-block2{
        background:rgb(193, 62, 47); 
        margin: 0px -63px 0px -9px;
        padding: 43px 0px 0px 0px;
        height: 200px;
        display: block;
    }    
    .footer-email{
        margin: 27px 0px 0px 21px;
        padding: 7px 129px 11px 19px;
    }
    .footer-label{
        font-size:22px;
        color:white;
        margin: 14px 0px 0px 41px;
    }
    .subscribe{
        background-color: rgb(193, 62, 47);
        border: 1px solid white;
        color: white;
        padding: 10px 23px 9px 17px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 22px 0px 0px 91px;
    }
    .footer-copy{
        background:  rgb(13,13,13);
        color:white;
        padding: 5px;
        margin: 0px -63px 0px -8px;
        text-align: center;
    }
    }